.opt-min-chars,
.opt-max-chars,
.opt-sampling-num {
  width: 120px !important;
}

.option-wrapper .material-icons {
  display: inline-block;
  font-size: 12px;
  position: relative;
  text-decoration: none;
}

.option-sample-chars {
  background: #eee;
  border: 1px solid #999;
  font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
  margin: 0 3px;
  padding: 2px 3px;
  width: 250px;
}

#result {
  list-style: none;
  margin: 0;
  padding: 0;
}
#drawn-result,
#result .password {
  background: #eee;
  display: inline-block;
  font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
  margin: 3px 2px 3px 2px;
  padding: 3px 5px 3px 5px;
}
#result .is-selected {
  background: #666;
  color: #eee;
}

#drawn-result {
  display: block;
  font-size: 30px;
  min-height: 1.2em;
  text-align: center;
}

